[submodule "themes/icons"]
	path = themes/icons
	url = git@github.com:nestoris/Win98SE.git
[submodule "themes/GTK/external/Chicago95"]
	path = themes/GTK/external/Chicago95
	url = git@github.com:grassmunk/Chicago95.git
[submodule "themes/GTK/external/aerothemeplasma"]
	path = themes/GTK/external/aerothemeplasma
	url = https://gitgud.io/wackyideas/aerothemeplasma.git
[submodule "development/IA/agents-teams-lite"]
	path = development/IA/agents-teams-lite
	url = git@github.com:Gentleman-Programming/agent-teams-lite.git
[submodule "development/IA/everything-claude-code"]
	path = development/IA/everything-claude-code
	url = git@github.com:affaan-m/everything-claude-code.git
[submodule "development/IA/engram"]
	path = development/IA/engram
	url = git@github.com:Gentleman-Programming/engram.git
